.masthead.clearfix
    .inner
        h3.masthead-brand
            nav
                ul.nav.masthead-nav
                    li
                        img(src='/assets/images/heisencat.png')
                    li
                        a(href='/') Home
                    li
                        a(href='/features') Features
                    li
                        a(href='/contact') Contact
